.table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.tbody {
  display: table-row-group;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  padding: 8px;
}

.label {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}
